In [64]:
import pandas as pd
import numpy as np

data=pd.read_csv('./Delhi_v2.csv')
print(data.head())

   Unnamed: 0       price                                            Address  \
0           0   5600000.0                  Noida Extension, Noida, Delhi NCR
1           1   8800000.0                      Sector 79, Gurgaon, Delhi NCR
2           2  16500000.0                     Vaishali, Ghaziabad, Delhi NCR
3           3   3810000.0  Link Road, F Block, Sector 50, Noida, Uttar Pr...
4           4   6200000.0  Jaypee Pavilion Court Sector 128, Noida, Secto...

     area   latitude  longitude  Bedrooms  Bathrooms  Balcony  \
0  1350.0  28.608850  77.460560       3.0        3.0      NaN
1  1490.0  28.374236  76.952416       3.0        3.0      NaN
2  2385.0  28.645769  77.385110       4.0        5.0      NaN
3  1050.0  28.566914  77.436434       2.0        2.0      3.0
4  1350.0  28.520732  77.356491       2.0        2.0      3.0

               Status      neworold  parking Furnished_status  Lift  \
0  Under Construction  New Property      NaN              NaN   2.0
1       Ready to Move  New Property      NaN   Semi-Furnished   2.0
2       Ready to Move  New Property      1.0      Unfurnished   NaN
3                 NaN  New Property      1.0      Unfurnished   2.0
4       Ready to Move        Resale      1.0              NaN   3.0

                    Landmarks type_of_building  \
0                         NaN             Flat
1                         NaN             Flat
2                         NaN             Flat
3  near Gaur Mulberry Mansion             Flat
4                         NaN             Flat

                                                desc   Price_sqft
0  \n\n\n                                Welcome ...  4148.148148
1  \n\n\n                                Mapsko M...  5906.040268
2  \n\n\n                                This pro...  6918.238994
3  \n\n\n                                AIG Roya...  3628.571429
4  \n\n\n                                The prop...  4592.592593

In [65]:
print(data.shape)

(7738, 18)

In [66]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7738 entries, 0 to 7737
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        7738 non-null   int64
 1   price             7738 non-null   float64
 2   Address           7738 non-null   object
 3   area              7738 non-null   float64
 4   latitude          7738 non-null   float64
 5   longitude         7738 non-null   float64
 6   Bedrooms          7738 non-null   float64
 7   Bathrooms         7738 non-null   float64
 8   Balcony           5166 non-null   float64
 9   Status            7164 non-null   object
 10  neworold          7738 non-null   object
 11  parking           2612 non-null   float64
 12  Furnished_status  4124 non-null   object
 13  Lift              1733 non-null   float64
 14  Landmarks         2759 non-null   object
 15  type_of_building  7738 non-null   object
 16  desc              7738 non-null   object
 17  Price_sqft        7738 non-null   float64
dtypes: float64(10), int64(1), object(7)
memory usage: 1.1+ MB
None

In [67]:
for column in data.columns:
    print(data[column].value_counts())
    print('*'*20)

Unnamed: 0
0       1
5198    1
5166    1
5165    1
5164    1
       ..
2575    1
2574    1
2573    1
2572    1
7737    1
Name: count, Length: 7738, dtype: int64
********************
price
4500000.0    290
3500000.0    252
4000000.0    247
6000000.0    243
5500000.0    223
            ...
6860000.0      1
5290000.0      1
8450000.0      1
7670000.0      1
4510000.0      1
Name: count, Length: 584, dtype: int64
********************
Address
Raj Nagar Extension, Ghaziabad, Delhi NCR                                     163
Indirapuram, Ghaziabad, Delhi NCR                                             152
Greater Noida West, Greater Noida, Delhi NCR                                  100
Noida Extension, Noida, Delhi NCR                                              63
NH 24, Ghaziabad, Delhi NCR                                                    61
                                                                             ...
e block sector 57, Sector 57, Gurgaon, Delhi NCR                                1
Ramakrishna apartment, Indraprastha Extension, New Delhi - East, Delhi NCR      1
Rajnagar Extension Gahziabad, Raj Nagar Extension, Ghaziabad, Delhi NCR         1
Rajendra Park, Rajendra Park, Gurgaon, Delhi NCR                                1
sandal apartment, Shalimar Garden Extension 1, Ghaziabad, Delhi NCR             1
Name: count, Length: 4145, dtype: int64
********************
area
900.0     325
1000.0    264
1100.0    205
1200.0    156
800.0     137
         ...
1067.0      1
1638.0      1
1531.0      1
4690.0      1
1898.0      1
Name: count, Length: 1102, dtype: int64
********************
latitude
28.605958    101
28.649348     79
28.704053     62
28.646286     37
28.664488     30
            ...
28.507627      1
28.491388      1
28.586720      1
28.598970      1
28.625850      1
Name: count, Length: 2942, dtype: int64
********************
longitude
77.444512    101
77.369626     79
77.437331     62
77.406051     37
77.347494     30
            ...
77.261925      1
77.409897      1
77.336327      1
77.433517      1
77.435336      1
Name: count, Length: 2912, dtype: int64
********************
Bedrooms
2.0     3525
3.0     3373
4.0      642
5.0       98
6.0       46
7.0       17
9.0       16
10.0      11
8.0       10
Name: count, dtype: int64
********************
Bathrooms
2.0     5051
3.0     1907
4.0      551
5.0      138
6.0       44
7.0       21
8.0       12
9.0       10
10.0       4
Name: count, dtype: int64
********************
Balcony
2.0     1793
3.0     1516
1.0     1082
4.0      613
5.0      130
6.0       21
7.0        4
10.0       3
8.0        3
9.0        1
Name: count, dtype: int64
********************
Status
Ready to Move         7148
Under Construction      16
Name: count, dtype: int64
********************
neworold
Resale          6905
New Property     833
Name: count, dtype: int64
********************
parking
1.0      1715
2.0       640
3.0       110
4.0        45
6.0        14
         ...
18.0        1
602.0       1
16.0        1
624.0       1
179.0       1
Name: count, Length: 65, dtype: int64
********************
Furnished_status
Semi-Furnished    2199
Unfurnished       1230
Furnished          695
Name: count, dtype: int64
********************
Lift
2.0     800
1.0     296
0.0     269
3.0     258
4.0      86
6.0       8
5.0       7
7.0       4
10.0      2
8.0       2
9.0       1
Name: count, dtype: int64
********************
Landmarks
metro station                                    8
NH 8 and Dwarka Expressway                       6
Shipra Mall                                      6
DPS School                                       6
abes engineering college                         5
                                                ..
Next to sector 78 metro station                  1
Main Market is just 100 mtr walking distance.    1
telephone exchange sector 12, gurgaon            1
Nearby Sanjay Park                               1
vvip mall                                        1
Name: count, Length: 2612, dtype: int64
********************
type_of_building
Flat                6226
Individual House    1512
Name: count, dtype: int64
********************
desc
\n                                                                                                                                                                                                                                                                                                                                                                                 3257
\n                    \n                    \n                    \n                       Multistorey apartment is available for sale. It is a good location property. Please contact for more details.\n                    \n                                                                                                                                                    145
\n                    \n                    \n                    \n                       property is in a good locality\n                    \n                                                                                                                                                                                                                                    25
\n                    \n                    \n                    \n                       Builder floor apartment is available for sale. It is a good location property. Please contact for more details.\n                    \n                                                                                                                                                   21
\n                    \n                    \n                    \n                       Multistorey apartment is available for sale.it is a good location property. Please contact for more details.\n                    \n                                                                                                                                                      20
                                                                                                                                                                                                                                                                                                                                                                                   ...
\n                    \n                    \n                    \n                       3rd floor with roof right without lift and parking.\n                    \n                                                                                                                                                                                                                1
\n                    \n                    \n                    \n                       excellent ventilation,  fans ND Havells geysers provided  , furnished kitchen ND wardrobes made up of brand hetich\n                    \n                                                                                                                                                 1
\n                    \n                    \n                    \n                       Multistorey apartment is available for sale. It has covered area 602 sq-ft, it is 2 BHK apartment. Please contact for more details.\n                    \n                                                                                                                                1
\n                    \n                    \n                    \n                        It's a 2nd floor Builder Floor Apartment in a building of total 3 floors. The location has easy access to, Oriental Bank of Commerce (1 km ), Delhi College of Studies (1 km ), Parsvanath MMX (2 km ) and Vaishali Metro Station (4 km ). \n                    \n                       1
\n                    \n                    \n                    \n                       vvip flat available for sale 3bhk unit below 10th floor\n                    \n                                                                                                                                                                                                            1
Name: count, Length: 4181, dtype: int64
********************
Price_sqft
5000.000000     125
4000.000000      83
5555.555556      53
3333.333333      52
10000.000000     52
               ...
5391.304348       1
3952.901598       1
3900.975244       1
3361.344538       1
3688.092729       1
Name: count, Length: 3946, dtype: int64
********************

In [68]:
data.isna().sum()

Unnamed: 0             0
price                  0
Address                0
area                   0
latitude               0
longitude              0
Bedrooms               0
Bathrooms              0
Balcony             2572
Status               574
neworold               0
parking             5126
Furnished_status    3614
Lift                6005
Landmarks           4979
type_of_building       0
desc                   0
Price_sqft             0
dtype: int64

In [69]:
data.drop(columns=['Balcony','Status','neworold','parking','Furnished_status','Lift','Landmarks','type_of_building','desc'],inplace=True)

In [70]:
data.describe()

,Unnamed: 0,price,area,latitude,longitude,Bedrooms,Bathrooms,Price_sqft
count,7738.000000,7.738000e+03,7738.000000,7738.000000,7738.000000,7738.000000,7738.000000,7738.000000
mean,3868.500000,8.320635e+06,1409.506591,28.552092,77.273476,2.708193,2.501163,5543.660241
std,2233.912524,7.223197e+06,718.929581,0.107420,0.180606,0.877026,0.867050,2408.659307
min,0.000000,1.700000e+06,501.000000,28.240023,76.884101,2.000000,2.000000,2100.000000
25%,1934.250000,4.200000e+06,990.000000,28.455539,77.078590,2.000000,2.000000,3950.986915
50%,3868.500000,6.000000e+06,1250.000000,28.574637,77.345320,3.000000,2.000000,4972.674332
75%,5802.750000,9.500000e+06,1650.000000,28.642520,77.421054,3.000000,3.000000,6350.638693
max,7737.000000,8.500000e+07,9500.000000,28.799748,77.688028,10.000000,10.000000,44378.698225

In [71]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7738 entries, 0 to 7737
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  7738 non-null   int64
 1   price       7738 non-null   float64
 2   Address     7738 non-null   object
 3   area        7738 non-null   float64
 4   latitude    7738 non-null   float64
 5   longitude   7738 non-null   float64
 6   Bedrooms    7738 non-null   float64
 7   Bathrooms   7738 non-null   float64
 8   Price_sqft  7738 non-null   float64
dtypes: float64(7), int64(1), object(1)
memory usage: 544.2+ KB

In [72]:
data['Address'].value_counts()

Address
Raj Nagar Extension, Ghaziabad, Delhi NCR                                     163
Indirapuram, Ghaziabad, Delhi NCR                                             152
Greater Noida West, Greater Noida, Delhi NCR                                  100
Noida Extension, Noida, Delhi NCR                                              63
NH 24, Ghaziabad, Delhi NCR                                                    61
                                                                             ...
e block sector 57, Sector 57, Gurgaon, Delhi NCR                                1
Ramakrishna apartment, Indraprastha Extension, New Delhi - East, Delhi NCR      1
Rajnagar Extension Gahziabad, Raj Nagar Extension, Ghaziabad, Delhi NCR         1
Rajendra Park, Rajendra Park, Gurgaon, Delhi NCR                                1
sandal apartment, Shalimar Garden Extension 1, Ghaziabad, Delhi NCR             1
Name: count, Length: 4145, dtype: int64

In [73]:
data['Price_sqft'].unique()

array([4148.14814815, 5906.04026846, 6918.23899371, ..., 7214.61187215,
       4254.71698113, 3688.09272919])

In [74]:
data['area'].unique()

array([1350., 1490., 2385., ..., 2374., 1692., 1898.])

In [75]:
data.head()

,Unnamed: 0,price,Address,area,latitude,longitude,Bedrooms,Bathrooms,Price_sqft
0,0,5600000.0,"Noida Extension, Noida, Delhi NCR",1350.0,28.608850,77.460560,3.0,3.0,4148.148148
1,1,8800000.0,"Sector 79, Gurgaon, Delhi NCR",1490.0,28.374236,76.952416,3.0,3.0,5906.040268
2,2,16500000.0,"Vaishali, Ghaziabad, Delhi NCR",2385.0,28.645769,77.385110,4.0,5.0,6918.238994
3,3,3810000.0,"Link Road, F Block, Sector 50, Noida, Uttar Pr...",1050.0,28.566914,77.436434,2.0,2.0,3628.571429
4,4,6200000.0,"Jaypee Pavilion Court Sector 128, Noida, Secto...",1350.0,28.520732,77.356491,2.0,2.0,4592.592593

In [76]:
data['Address'].value_counts()

Address
Raj Nagar Extension, Ghaziabad, Delhi NCR                                     163
Indirapuram, Ghaziabad, Delhi NCR                                             152
Greater Noida West, Greater Noida, Delhi NCR                                  100
Noida Extension, Noida, Delhi NCR                                              63
NH 24, Ghaziabad, Delhi NCR                                                    61
                                                                             ...
e block sector 57, Sector 57, Gurgaon, Delhi NCR                                1
Ramakrishna apartment, Indraprastha Extension, New Delhi - East, Delhi NCR      1
Rajnagar Extension Gahziabad, Raj Nagar Extension, Ghaziabad, Delhi NCR         1
Rajendra Park, Rajendra Park, Gurgaon, Delhi NCR                                1
sandal apartment, Shalimar Garden Extension 1, Ghaziabad, Delhi NCR             1
Name: count, Length: 4145, dtype: int64

In [77]:
data['Address']=data['Address'].apply(lambda x: x.strip())
Address_count=data['Address'].value_counts()
Address_count

Address
Raj Nagar Extension, Ghaziabad, Delhi NCR                                     163
Indirapuram, Ghaziabad, Delhi NCR                                             152
Greater Noida West, Greater Noida, Delhi NCR                                  100
Noida Extension, Noida, Delhi NCR                                              63
NH 24, Ghaziabad, Delhi NCR                                                    61
                                                                             ...
e block sector 57, Sector 57, Gurgaon, Delhi NCR                                1
Ramakrishna apartment, Indraprastha Extension, New Delhi - East, Delhi NCR      1
Rajnagar Extension Gahziabad, Raj Nagar Extension, Ghaziabad, Delhi NCR         1
Rajendra Park, Rajendra Park, Gurgaon, Delhi NCR                                1
sandal apartment, Shalimar Garden Extension 1, Ghaziabad, Delhi NCR             1
Name: count, Length: 4145, dtype: int64

In [78]:
Address_count_less_10= Address_count[Address_count<=10]
Address_count_less_10

Address
Surajpur, Greater Noida, Delhi NCR                                            10
Sector 21C, Faridabad, Delhi NCR                                              10
Sector 107, Gurgaon, Delhi NCR                                                10
Sector 90, Gurgaon, Delhi NCR                                                 10
Sector 79, Noida, Delhi NCR                                                   10
                                                                              ..
e block sector 57, Sector 57, Gurgaon, Delhi NCR                               1
Ramakrishna apartment, Indraprastha Extension, New Delhi - East, Delhi NCR     1
Rajnagar Extension Gahziabad, Raj Nagar Extension, Ghaziabad, Delhi NCR        1
Rajendra Park, Rajendra Park, Gurgaon, Delhi NCR                               1
sandal apartment, Shalimar Garden Extension 1, Ghaziabad, Delhi NCR            1
Name: count, Length: 4056, dtype: int64

In [79]:
data['Address']=data['Address'].apply(lambda x:'other' if x in Address_count_less_10 else x)
data['Address'].value_counts()

Address
other                                           5621
Raj Nagar Extension, Ghaziabad, Delhi NCR        163
Indirapuram, Ghaziabad, Delhi NCR                152
Greater Noida West, Greater Noida, Delhi NCR     100
Noida Extension, Noida, Delhi NCR                 63
                                                ...
Sector 86, Faridabad, Delhi NCR                   11
Sector 86, Gurgaon, Delhi NCR                     11
Sector 70, Gurgaon, Delhi NCR                     11
Sector 119, Noida, Delhi NCR                      11
Sector 78, Faridabad, Delhi NCR                   11
Name: count, Length: 90, dtype: int64

In [80]:
data.describe()

,Unnamed: 0,price,area,latitude,longitude,Bedrooms,Bathrooms,Price_sqft
count,7738.000000,7.738000e+03,7738.000000,7738.000000,7738.000000,7738.000000,7738.000000,7738.000000
mean,3868.500000,8.320635e+06,1409.506591,28.552092,77.273476,2.708193,2.501163,5543.660241
std,2233.912524,7.223197e+06,718.929581,0.107420,0.180606,0.877026,0.867050,2408.659307
min,0.000000,1.700000e+06,501.000000,28.240023,76.884101,2.000000,2.000000,2100.000000
25%,1934.250000,4.200000e+06,990.000000,28.455539,77.078590,2.000000,2.000000,3950.986915
50%,3868.500000,6.000000e+06,1250.000000,28.574637,77.345320,3.000000,2.000000,4972.674332
75%,5802.750000,9.500000e+06,1650.000000,28.642520,77.421054,3.000000,3.000000,6350.638693
max,7737.000000,8.500000e+07,9500.000000,28.799748,77.688028,10.000000,10.000000,44378.698225

In [81]:
(data['Price_sqft']/data['Bedrooms']).describe()

count    7738.000000
mean     2129.616657
std       857.763379
min       411.764706
25%      1564.210868
50%      1943.109374
75%      2500.000000
max      8055.555556
dtype: float64

In [82]:
data.Price_sqft.describe()

count     7738.000000
mean      5543.660241
std       2408.659307
min       2100.000000
25%       3950.986915
50%       4972.674332
75%       6350.638693
max      44378.698225
Name: Price_sqft, dtype: float64

In [83]:
# Removing outliers from the price per square feet
def remove_outliers_sqft(df):
    df_output =pd.DataFrame()
    for key,subdf in df.groupby('Address'):
        m=np.mean(subdf.Price_sqft)
        st=np.std(subdf.Price_sqft)
        gen_df =subdf[(subdf.Price_sqft>(m-st))&(subdf.Price_sqft<=(m+st))]
        df_output=pd.concat([df_output,gen_df],ignore_index=True)
    return df_output
data=remove_outliers_sqft(data)
data.describe()

,Unnamed: 0,price,area,latitude,longitude,Bedrooms,Bathrooms,Price_sqft
count,5969.000000,5.969000e+03,5969.000000,5969.000000,5969.000000,5969.000000,5969.000000,5969.000000
mean,3802.831295,7.269389e+06,1374.621712,28.548042,77.276815,2.671804,2.459541,5088.043160
std,2211.934168,5.076023e+06,682.610593,0.106263,0.182562,0.836106,0.815656,1321.402541
min,0.000000,1.850000e+06,501.000000,28.240023,76.884101,2.000000,2.000000,2777.777778
25%,1874.000000,4.200000e+06,970.000000,28.453581,77.075775,2.000000,2.000000,4000.000000
50%,3803.000000,5.900000e+06,1230.000000,28.571538,77.350297,3.000000,2.000000,4901.960784
75%,5710.000000,8.500000e+06,1615.000000,28.640300,77.418415,3.000000,3.000000,5909.090909
max,7737.000000,7.000000e+07,9500.000000,28.799748,77.570898,10.000000,10.000000,9888.888889

In [84]:
def bedroom_outlier_remover(df):
    exclude_indices =np.array()
    for location,location_df in df.groupby('Address'):
        bedroom_stats={}
        for bedroom,bedroom_df in location_df.groupby('Bedrooms'):
            bedroom_stats[bedroom]={
                'mean':np.mean(bedroom_df.Price_sqft),
                'std':np.std(bedroom_df.Price_sqft),
                'count':bedroom_df.shape[0]
            }
        for bedroom,bedroom_df in location_df.groupby('Bedrooms'):
            stats=bedroom_stats.get(bedroom-1)
            if stats and stats['count']>5:
                exclude_indices=np.append(exclude_indices,bedroom_df[bedroom.Price_sqft<(stats['mean'])].index.values)
    return df.drop(exclude_indices,axis='index')

In [85]:
data.shape

(5969, 9)

In [86]:
def bathroom_outlier_remover(df):
    exclude_indices =np.array()
    for location,location_df in df.groupby('Address'):
        bathroom_stats={}
        for bathroom,bathroom_df in location_df.groupby('Bathrooms'):
            bathroom_stats[bathroom]={
                'mean':np.mean(bathroom_df.Price_sqft),
                'std':np.std(bathroom_df.Price_sqft),
                'count':bathroom_df.shape[0]
            }
        for bathroom,bathroom_df in location_df.groupby('Bathrooms'):
            stats=bathroom_stats.get(bathroom-1)
            if stats and stats['count']>5:
                exclude_indices=np.append(exclude_indices,bathroom_df[bathroom.Price_sqft<(stats['mean'])].index.values)
    return df.drop(exclude_indices,axis='index')

In [87]:
data.head()

,Unnamed: 0,price,Address,area,latitude,longitude,Bedrooms,Bathrooms,Price_sqft
0,750,7000000.0,"Ahinsa Khand 2, Ghaziabad, Delhi NCR",1595.0,28.642848,77.382637,3.0,2.0,4388.714734
1,2475,8000000.0,"Ahinsa Khand 2, Ghaziabad, Delhi NCR",1550.0,28.642848,77.382637,3.0,2.0,5161.290323
2,2547,4700000.0,"Ahinsa Khand 2, Ghaziabad, Delhi NCR",1073.0,28.642847,77.382637,2.0,2.0,4380.242311
3,3141,7000000.0,"Ahinsa Khand 2, Ghaziabad, Delhi NCR",1550.0,28.642848,77.382637,3.0,2.0,4516.129032
4,3488,6000000.0,"Ahinsa Khand 2, Ghaziabad, Delhi NCR",1300.0,28.642848,77.382637,2.0,2.0,4615.384615

In [91]:
data.rename(columns={'Bedrooms':'BHK','area':'Total_sqft'}, inplace=True)

In [93]:
data.head()
data.drop(columns=['Price_sqft'],inplace=True)

In [94]:
data.head()

,Unnamed: 0,price,Address,Total_sqft,latitude,longitude,BHK,Bathrooms
0,750,7000000.0,"Ahinsa Khand 2, Ghaziabad, Delhi NCR",1595.0,28.642848,77.382637,3.0,2.0
1,2475,8000000.0,"Ahinsa Khand 2, Ghaziabad, Delhi NCR",1550.0,28.642848,77.382637,3.0,2.0
2,2547,4700000.0,"Ahinsa Khand 2, Ghaziabad, Delhi NCR",1073.0,28.642847,77.382637,2.0,2.0
3,3141,7000000.0,"Ahinsa Khand 2, Ghaziabad, Delhi NCR",1550.0,28.642848,77.382637,3.0,2.0
4,3488,6000000.0,"Ahinsa Khand 2, Ghaziabad, Delhi NCR",1300.0,28.642848,77.382637,2.0,2.0

In [95]:
data.to_csv("cleaned_data.csv")

In [96]:
x=data.drop(columns=['price'])
y=data['price']

In [97]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [98]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)
print(x_train.shape)
print(x_test.shape)

(4775, 7)
(1194, 7)

In [101]:
# Applying Linear regression
column_trans=make_column_transformer((OneHotEncoder(sparse=False),['Address']),remainder='passthrough')
scaler=StandardScaler()
lr=LinearRegression()
pipe=make_pipeline(column_trans,scaler,lr)
pipe.fit(x_train,y_train)

c:\Users\HP\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['Address'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [102]:
y_pred_lr=pipe.predict(x_test)
r2_score(y_test,y_pred_lr)

0.8759398811090034

In [103]:
# Applying Lasso
lasso=Lasso()
pipe=make_pipeline(column_trans,scaler,lasso)
pipe.fit(x_train,y_train)

c:\Users\HP\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
c:\Users\HP\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.395e+14, tolerance: 1.278e+13
  model = cd_fast.enet_coordinate_descent(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['Address'])])),
                ('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [104]:
y_pred_lasso=pipe.predict(x_test)
r2_score(y_test,y_pred_lasso)

0.8759926395441777

In [105]:
# Applying Ridge
ridge=Ridge()
pipe=make_pipeline(column_trans,scaler,ridge)
pipe.fit(x_train,y_train)

c:\Users\HP\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['Address'])])),
                ('standardscaler', StandardScaler()), ('ridge', Ridge())])

In [106]:
y_pred_ridge=pipe.predict(x_test)
r2_score(y_test,y_pred_ridge)

0.8760276193596805

In [107]:
print("No regulariztion= ",r2_score(y_test,y_pred_lr))
print("Lasso= ",r2_score(y_test,y_pred_lasso))
print("Ridge= ",r2_score(y_test,y_pred_ridge))

No regulariztion=  0.8759398811090034
Lasso=  0.8759926395441777
Ridge=  0.8760276193596805

In [108]:
import pickle

In [ ]:
pickle.dump(pipe,open('RidgeModel.pkl','wb'))